<div *ngIf="entity.id == 0" class="commands insert">
  <button type="button" value="Save" (click)="onInsert(contract)" class="btn btn-primary">Save</button>
  <button type="button" value="Cancel" (click)="onBack()" class="btn btn-primary">Cancel</button>
</div>
<div *ngIf="entity.id != 0" class="commands update">
  <button type="button" value="Update" (click)="onUpdate(contract)" class="btn btn-primary">Update</button>
  <button type="button" value="Delete" (click)="onDelete(contract)" class="btn btn-primary">Delete</button>
  <button type="button" value="Back" (click)="onBack()" class="btn btn-primary">Back</button>
</div>
