<form name="form">
  <div class="container mt-md-2 pt-2 pb-2 bg-faded">
      <div class="form-group row" [ngClass]="{'has-danger':!signinForm.controls['email'].valid && signinForm.controls['email'].touched}">
        <div class="col-md-4">
          <input type="text" class="form-control" id="email" name="email" [formControl]="signinForm.controls['email']" placeholder="Электронная почта...">
        </div>
      </div>
    <div class="form-group row" [ngClass]="{'has-danger':!signinForm.controls['password'].valid && signinForm.controls['password'].touched}">
      <div class="col-md-4">
        <input type="password" class="form-control" id="password" name="password" [formControl]="signinForm.controls['password']" placeholder="Пароль...">
      </div>
    </div>
    <div>
      <button type="submit" value="SignIn" class="btn btn-primary" (click)="signin()" [disabled]="!signinForm.valid">Войти</button>
    </div>
  </div>
</form>

