<form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
  <div class="container mt-md-2 pt-2 pb-2 bg-faded">
    <div class="form-group row">
      <div class="col-md-4">
      <input placeholder="first name" type="text" name="givenName" [(ngModel)]="model.givenName" required>
        <small [hidden]="givenName.valid || (givenName.pristine && !f.submitted)" class="has-error">
          Required
        </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
      <input placeholder="last name" type="text" name="familyName" [(ngModel)]="model.familyName" required>
      <small [hidden]="familyName.valid || (familyName.pristine && !f.submitted)" class="has-error">
        Required
      </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
      <input placeholder="email" type="text" [(ngModel)]="model.username" #username="ngModel" required>
      <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="has-error">
        Invalid format
      </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
      <input placeholder="password" type="password" name="password" [(ngModel)]="model.password" required>
      <small [hidden]="password.valid || (password && !f.submitted)" class="has-error">
        Required
      </small>
      </div>
    </div>
    <div *ngIf="errorMessage != ''" class="has-error">
      <small>{{ errorMessage }}</small>
    </div>
    <div *ngIf="errorMessages.length > 0" class="has-error">
      <div *ngFor="let errorMsg of errorMessages">
        <small>{{ errorMsg.description }}</small>
      </div>
    </div>
    <br />
  </div>
  <div>
    <button type="submit" value="SignUp" class="btn btn-primary">Зарегистрироваться</button>
  </div>
</form>
