.contract-details {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: #dddddd;
  width: 300px;
}
.contract-details * {
  vertical-align: middle;
}
.contract-details ul li {
  padding: 5px 0;
}
