<form [formGroup]="caseForm" *ngIf="insuranceCase" (ngSubmit)="onSubmit()">
  <div class="container mt-md-2 pt-md-2 pb-md-2 bg-faded">
    <div class="form-group row">
      <label for="mkb10" class="col-md-3 col-form-label">МКБ 10:</label>
      <div class="col-md-8">
        <p-autoComplete [formControl]="caseForm.controls['mkb10']" [size]="90" id="mkb10" name="mkb10" [suggestions]="mkb10s" field="code" dataKey="id" (completeMethod)="onMkb10Lookup($event)" placeholder="Диагноз...">
        </p-autoComplete>
      </div>
    </div>
    <div class="form-group row">
      <label for="hospital" class="col-md-3 col-form-label">ЛПУ:</label>
      <div class="col-md-4">
        <p-dropdown [options]="hospitals" id="hospital" name="hospital" [formControl]="caseForm.controls['hospital']" (onChange) = "onHospitalChange($event)"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="hospitalDepartment" class="col-md-3 col-form-label">Отделение:</label>
      <div class="col-md-4">
        <p-dropdown [options]="hospitalDepartments" id="hospitalDepartment" name="hospitalDepartment" [formControl]="caseForm.controls['hospitalDepartment']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="treatment" class="col-md-3 col-form-label">Лечение:</label>
      <div class="col-md-4">
        <p-dropdown [options]="treatments" autoWidth="false" id="treatment" name="treatment" [formControl]="caseForm.controls['treatment']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="therapy" class="col-md-3 col-form-label">Терапия:</label>
      <div class="col-md-4">
        <p-dropdown [options]="therapy" autoWidth="false" id="therapy" name="therapy" [formControl]="caseForm.controls['therapy']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Начало:</label>
      <div class="input-group col-md-2">
        <p-calendar id="beginDate" name="beginDate" [formControl]="caseForm.controls['beginDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Окончание:</label>
      <div class="input-group col-md-2">
        <p-calendar id="endDate" name="endDate" [formControl]="caseForm.controls['endDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Отчёт:</label>
      <div class="input-group col-md-2">
        <p-calendar id="reportDate" name="reportDate" [formControl]="caseForm.controls['reportDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Документы:</label>
      <div class="input-group col-md-2">
        <p-calendar id="documentDate" name="documentDate" [formControl]="caseForm.controls['documentDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" value="Back" (click)="onBack()" class="btn btn-primary">Назад</button>
      <div *ngIf="insuranceCase.id != 0; else elseBlock">
        <button type="button" value="Update" (click)="onUpdate()" [disabled]="!caseForm.valid" class="btn btn-primary">Сохранить</button>
        <button type="button" value="Delete" (click)="onDelete()" class="btn btn-primary">Удалить</button>
      </div>
      <ng-template #elseBlock>
        <button type="button" value="Save" (click)="onInsert()" [disabled]="!caseForm.valid" class="btn btn-primary">Добавить</button>
      </ng-template>
    </div>
  </div>
  <div class="container">
    <div class="row">&nbsp;</div>
  </div>
</form>

