<form [formGroup]="caseForm" *ngIf="insuranceCase" (ngSubmit)="onSubmit()">
  <div class="container mt-md-2 pt-md-2 pb-md-2 bg-faded">
    <div class="form-group row">
      <label for="mkb10" class="col-md-3 col-form-label">МКБ 10:</label>
      <div class="col-md-8">
        <p-autoComplete [formControl]="caseForm.controls['mkb10']" [size]="90" id="mkb10" name="mkb10" [suggestions]="mkb10s" field="code" dataKey="id" (completeMethod)="onMkb10Lookup($event)" placeholder="Диагноз...">
        </p-autoComplete>
      </div>
    </div>
    <div class="form-group row">
      <label for="hospital" class="col-md-3 col-form-label">ЛПУ:</label>
      <div class="col-md-4">
        <p-dropdown [options]="hospitals" id="hospital" name="hospital" [formControl]="caseForm.controls['hospital']" (onChange) = "onHospitalChange($event)"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="hospitalDepartment" class="col-md-3 col-form-label">Отделение:</label>
      <div class="col-md-4">
        <p-dropdown [options]="hospitalDepartments" id="hospitalDepartment" name="hospitalDepartment" [formControl]="caseForm.controls['hospitalDepartment']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="treatment" class="col-md-3 col-form-label">Лечение:</label>
      <div class="col-md-4">
        <p-dropdown [options]="treatments" autoWidth="false" id="treatment" name="treatment" [formControl]="caseForm.controls['treatment']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label for="therapy" class="col-md-3 col-form-label">Терапия:</label>
      <div class="col-md-4">
        <p-dropdown [options]="therapy" autoWidth="false" id="therapy" name="therapy" [formControl]="caseForm.controls['therapy']"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Начало:</label>
      <div class="input-group col-md-2">
        <p-calendar id="beginDate" name="beginDate" [formControl]="caseForm.controls['beginDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Окончание:</label>
      <div class="input-group col-md-2">
        <p-calendar id="endDate" name="endDate" [formControl]="caseForm.controls['endDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Отчёт:</label>
      <div class="input-group col-md-2">
        <p-calendar id="reportDate" name="reportDate" [formControl]="caseForm.controls['reportDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Документы:</label>
      <div class="input-group col-md-2">
        <p-calendar id="documentDate" name="documentDate" [formControl]="caseForm.controls['documentDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>

    <div class="form-group row">
      <p-dataTable [value]="insuranceCase.orders" selectionMode="single" [paginator]="true" rows="15">
        <p-header>Медикаменты</p-header>
        <p-headerColumnGroup>
          <p-row>
            <p-column header="№" rowspan="2"></p-column>
            <p-column header="Счет" colspan="2"></p-column>
            <p-column header="Рецепт" colspan="2"></p-column>
            <p-column header="Сумма" rowspan="2"></p-column>
            <p-column header="Аптека" rowspan="2"></p-column>
          </p-row>
          <p-row>
            <p-column header="Номер"></p-column>
            <p-column header="Дата"></p-column>
            <p-column header="Номер"></p-column>
            <p-column header="Дата"></p-column>
          </p-row>
        </p-headerColumnGroup>
        <p-column field="id" [style]="{'text-align':'center'}"></p-column>
        <p-column field="orderNumber" [style]="{'text-align':'center'}"></p-column>
        <p-column field="orderDate" [style]="{'text-align':'center'}">
          <ng-template let-col let-med="rowData" pTemplate="body" >
            {{med.orderDate | date:'dd.MM.yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="recipeNumber" [style]="{'text-align':'center'}"></p-column>
        <p-column field="recipedate" [style]="{'text-align':'center'}">
          <ng-template let-col let-med="rowData" pTemplate="body" >
            {{med.recipeDate | date:'dd.MM.yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="amount" [style]="{'text-align':'right'}">
          <ng-template let-col let-med="rowData" pTemplate="body">
            {{med.amount |  number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column field="pharmacy" [style]="{'text-align':'center'}"></p-column>
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" value="AddOrder" (click)="showDialogToAdd()" class="btn btn-primary">Добавить</button></div></p-footer>
      </p-dataTable>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" value="Back" (click)="onBack()" class="btn btn-primary">Назад</button>
      <div *ngIf="insuranceCase.id != 0; else elseBlock">
        <button type="button" value="Update" (click)="onUpdate()" [disabled]="!caseForm.valid" class="btn btn-primary">Сохранить</button>
        <button type="button" value="Delete" (click)="onDelete()" class="btn btn-primary">Удалить</button>
      </div>
      <ng-template #elseBlock>
        <button type="button" value="Save" (click)="onInsert()" [disabled]="!caseForm.valid" class="btn btn-primary">Добавить</button>
      </ng-template>
    </div>
  </div>
  <div class="container">
    <div class="row">&nbsp;</div>
  </div>
</form>

<p-dialog header="Медикаменты" [(visible)]="displayOrderDialog" showEffect="fade" [modal]="true" [width] = "500" *ngIf="order">
    <div class="container pt-md-2 pb-md-5 mb-md-4 bg-faded">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmitOrder()">
      <fieldset class="form-group">
        <legend>Счёт</legend>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="orderDate">Дата:</label>
          <div class="input-group col-md-2">
            <p-calendar id="orderDate" [formControl]="orderForm.controls['orderDate']" name="orderDate" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="orderNumber">Номер:</label>
          <div class="input-group col-md-6">
            <input type="text" class="form-control" id="orderNumber" [formControl]="orderForm.controls['orderNumber']" />
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>Рецепт</legend>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="orderDate">Дата:</label>
          <div class="input-group col-md-2">
            <p-calendar id="recipeDate" [formControl]="orderForm.controls['recipeDate']" name="recipeDate" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="recipeNumber">Номер:</label>
          <div class="input-group col-md-6">
            <input type="text" class="form-control" id="recipeNumber" [formControl]="orderForm.controls['recipeNumber']" />
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend> </legend>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="amount">Сумма:</label>
          <div class="input-group col-md-6">
            <input type="text" class="form-control" id="amount" [formControl]="orderForm.controls['amount']" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"for="pharmacy">Аптека:</label>
          <div class="input-group col-md-6">
            <input type="text" class="form-control" id="pharmacy" [formControl]="orderForm.controls['pharmacy']" />
          </div>
        </div>
      </fieldset>
      </form>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" value="Save" (click)="onSaveOrder()" class="btn btn-primary">Сохранить</button>
      </div>
    </p-footer>
</p-dialog>


