<div class="container">
  <div class="row mb-md-2 mt-md-2">
    <div class="col-md-4">
      <button type="button" value="Back" (click)="onBack()" class="btn btn-primary">Назад</button>
    </div>
    <div class="col-md-4">
      <button type="button" value="Save" (click)="onInsert(contractId)" class="btn btn-primary">Добавить</button>
      <button type="button" value="Edit" (click)="onEdit(customerShort.id)" class="btn btn-primary" [disabled]="!customerShort">Изменить</button>
      <button type="button" value="Edit" (click)="onInsuranceCases(customerShort.id)" class="btn btn-primary" [disabled]="!customerShort">Случаи</button>
    </div>
    <div class="col-md-4">
      <input #gb type="text" class="form-control mr-sm-2" pInputText size="25" placeholder="Поиск по ФИО и ИНН">
    </div>
  </div>
  <p-dataTable [value]="customerItems" [lazy]="true" [rows]="10" [paginator]="true" [globalFilter]="gb" filterEvent="keyup" filterDelay="1000" emptyMessage="Не найдено ни одного клиента"
               [totalRecords]="totalRecords" (onLazyLoad)="loadCustomersLazy($event)" (onRowSelect)="onRowSelect($event)" selectionMode="single" [(selection)]="selectedCustomer" dataKey="id">
    <p-header>Клиенты</p-header>
    <p-column field="name" header="ФИО" [style]="{'width':'50%'}"></p-column>
    <p-column field="tin" header="ИНН" [style]="{'text-align':'center'}"></p-column>
    <p-column field="startDate" header="Дата начала" [style]="{'text-align':'center'}">
      <ng-template let-col let-customer="rowData" pTemplate="body">
        {{customer.startDate | date:'dd.MM.yyyy'}}
      </ng-template>
    </p-column>
    <p-column field="endDate" header="Дата окончания" [style]="{'text-align':'center'}">
      <ng-template let-col let-customer="rowData" pTemplate="body" >
        {{customer.endDate | date:'dd.MM.yyyy'}}
      </ng-template>
    </p-column>
    <p-column field="totalCount" header="Случаи" [style]="{'text-align':'right'}"></p-column>
    <p-column field="totalAmount" header="Сумма" [style]="{'text-align':'right'}"></p-column>
  </p-dataTable>
</div>
<div *ngIf="customerShort" class="container">
  <div class="row mt-md-2">
    <div class="col-md-2"><h6>Подразделение</h6></div>
    <div class="col-md-2">{{customerShort.department}}</div>
    <div class="col-md-2"><h6>Табельный номер</h6></div>
    <div class="col-md-2">{{customerShort.personnelNumber}}</div>
    <div class="col-md-2"><h6>Телефон</h6></div>
    <div class="col-md-2">{{customerShort.mobilePhone}}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><h6>Группа инвалидности</h6></div>
    <div class="col-md-2">{{customerShort.disabilityGroup}}</div>
    <div class="col-md-2"><h6>Должность</h6></div>
    <div class="col-md-2">{{customerShort.position}}</div>
    <div class="col-md-2"><h6></h6></div>
    <div class="col-md-2"></div>
  </div>
</div>

