<form [formGroup]="contractForm" *ngIf="contract" (ngSubmit)="onSubmit()">
  <div class="container mt-4 pt-4 pb-4" style="background:#ebeff2">
    <div class="form-group row" [ngClass]="{'has-danger':!contractForm.controls['name'].valid && contractForm.controls['name'].touched}">
      <label for="name" class="col-md-3 col-form-label">Короткое имя:</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="name" name="name" [formControl]="contractForm.controls['name']" placeholder="Название...">
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger':!contractForm.controls['code'].valid && contractForm.controls['code'].touched}">
      <label for="code" class="col-md-3 col-form-label">Код:</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="code" name="code" [formControl]="contractForm.controls['code']" placeholder="Код...">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-md-3 col-form-label">Описание:</label>
      <div class="col-md-9">
        <textarea [formControl]="contractForm.controls['description']" class="form-control" id="description"
                  name="description" rows="5" placeholder="Описание..."></textarea>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Дата начала:</label>
        <div class="input-group col-md-2">
          <p-calendar id="beginDate" name="beginDate" [formControl]="contractForm.controls['beginDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Дата начала:</label>
      <div class="input-group col-md-2">
        <p-calendar id="endDate" name="endDate" [formControl]="contractForm.controls['endDate']" [showIcon]="true" [locale]="ru" dateFormat="{{dateFormat}}"></p-calendar>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <p-checkbox [formControl]="contractForm.controls['isActive']" binary="true" id="isActive" name="isActive"></p-checkbox>
          Активный
        </label>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" value="Back" (click)="onBack()" class="btn btn-primary">Назад</button>

      <div *ngIf="contract.id != 0; else elseBlock">
        <button type="button" value="Update" (click)="onUpdate()" [disabled]="!contractForm.valid" class="btn btn-primary">Сохранить</button>
        <button type="button" value="Delete" (click)="onDelete()" class="btn btn-primary">Удалить</button>
      </div>
      <ng-template #elseBlock>
        <button type="button" value="Save" (click)="onInsert()" [disabled]="!contractForm.valid" class="btn btn-primary">Добавить</button>
      </ng-template>
    </div>
  </div>
</form>
