<div *ngIf="contract" class="container">
    <h2>{{contract.name}}</h2>
    <div class="form-group">
      <label for="contractName">Title:</label>
      <input type="text" id="contractName" [(ngModel)]="contract.name" class="form-control" placeholder="Insert the title...">
    </div>
    <div class="form-group">
      <label for="descriptionArea">Description:</label>
      <textarea [(ngModel)]="contract.description" class="form-control" id="descriptionArea" rows="3" placeholder="Insert a suitable description..."></textarea>
    </div>
    <app-save-panel></app-save-panel>
</div>
