html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.container {
  width: auto;
  max-width: 1080px;
  padding: 0 15px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
